useDynLib(instanceengineering, .registration = TRUE)
export(ApplyAdasynOversampling)
export(ApplyNearmissUndersampling)
export(OverUnderSampling)
S3method(bake, step_balance)
S3method(prep, step_balance)
S3method(print, step_balance)
S3method(required_pkgs, step_balance)
S3method(tidy, step_balance)
export(step_balance)
importFrom(generics, required_pkgs)
importFrom(generics, tidy)
importFrom(recipes, bake)
importFrom(recipes, prep)
